@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: all 150ms;
}

.red-hat-text {
	font-family: "Red Hat Text", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

svg {
	fill: "currentColor";
}
